<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程小爬虫</title>
    <style>
        li{margin:20px 0;}
        h3{margin-top:40px;}
    </style>
</head>
<body>
    <h1>hi <%= name %></h1>
    <h2><%= sData.Title %></h2>
     <% for(var i=0; i< sData.length; i++) {%>
        <h3><%= sData[i].chapterTitle %></h3>
        <ul>
         <% for(var j=0; j< sData[i].videos.length; j++) {%>
            <li><a target="_blank" href="<%= sData[i].videos[j].href %>"><%= sData[i].videos[j].title %></a></li>
        <% } %>  
        </ul>
    <% } %>  
    
</body>
</html>